In [92]:
!java -version

java version "1.8.0_341"
Java(TM) SE Runtime Environment (build 1.8.0_341-b10)
Java HotSpot(TM) 64-Bit Server VM (build 25.341-b10, mixed mode)

In [93]:
!pip install -q tabula-py

In [94]:
import tabula
import pandas as pd
import numpy as np

## 2012/13

In [126]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2012_13_2005EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="102-112")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[0]

11

In [127]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [128]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2012_13"

for i, _df in enumerate(dfs):
    filename = '/2013_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

In [98]:
df_eth = dfs[0]
df_eth.rename(columns = {
    df_eth.columns[0]: "crop", df_eth.columns[1]: "area", 
    df_eth.columns[2]: "area_se", df_eth.columns[3]: "area_cv",
    df_eth.columns[4]: "production", df_eth.columns[5]: "production_se", 
    df_eth.columns[6]: "production_cv"
}, inplace = True)

#df_eth = df_eth.iloc[2:]
df_eth.head()

,crop,area,area_se,area_cv,production,production_se,production_cv,region
0,Crop,Area,Error,CV,Production,Error,CV,Ethiopia
1,NaN,NaN,NaN,%,NaN,NaN,%,Ethiopia
2,Grain,"12,282,929.98","177,159.04",1.44,"231,288,471.77","4,210,712.97",1.82,Ethiopia
3,Cereals,"9,601,035.26","142,055.59",1.48,"196,511,515.46","3,794,198.94",1.93,Ethiopia
4,Teff,"2,730,272.95","77,443.24",2.84,"37,652,411.66","1,399,597.24",3.72,Ethiopia

## 2013/14

In [99]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2013_14_2006EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="101-111")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[0]

11

In [100]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [101]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2013_14"

for i, _df in enumerate(dfs):
    filename = '/2014_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

## 2014/15

In [102]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2014 15_2007 EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="102-112")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[10]

11

In [103]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [104]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2014_15"

for i, _df in enumerate(dfs):
    filename = '/2015_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

## 2015/16

In [105]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2015_16_2008EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="102-112")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[10]

11

In [106]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [107]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2015_16"

for i, _df in enumerate(dfs):
    filename = '/2016_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

## 2016/17

In [108]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2016_17_2009EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="103-113")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[10]

11

In [109]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [110]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2016_17"

for i, _df in enumerate(dfs):
    filename = '/2017_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

## 2017/18

In [111]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2017_19_2010EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="39-49")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[10]

11

In [112]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [113]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2017_18"

for i, _df in enumerate(dfs):
    filename = '/2018_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

## 2018/19

In [133]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2018_19_2011EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="39-49")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[10]

11

In [137]:
dfs[0]

,CV Crop Area,Standard,CV,Production,Standard.1,Unnamed: 0
0,NaN,Error,(%),NaN,Error,(%)
1,"Total Grains................ 12,727,191.21","261,324.98",2.07,"315,602,058.49","8,520,276.09",2.72
2,"Cereals......................... 10,358,890.13","216,389.41",2.10,"277,638,380.98","7,891,412.87",2.86
3,"Teff............................ 3,076,595.02","113,564.73",3.69,"54,034,790.51","2,328,077.49",4.31
4,"Barley........................ 811,782.08","56,595.39",6.97,"17,675,184.47","1,557,935.55",8.81
5,"Wheat........................ 1,747,939.31","112,179.04",6.44,"48,380,740.91","4,190,573.96",8.68
6,"Maize............................ 2,367,797.39","89,729.67",3.84,"94,927,708.34","4,835,185.79",5.13
7,"Sorghum...................... 1,829,662.39","97,240.32",5.44,"50,243,680.72","3,031,089.66",6.15
8,"Finger Millet................ 446,909.00","31,007.88",6.94,"10,356,295.66","811,423.65",7.84
9,"Oats/'Aja'..................... 14,843.08","2,952.41",19.89,"301,439.40","59,697.79",19.80
10,"Rice........................... 63,361.86","16,500.90",26.04,"1,718,540.95","503,133.50",29.28
11,"Pulses....................... 1,620,497.30","63,594.21",3.93,"30,113,480.57","1,369,583.51",4.55
12,"Faba Beans............. 492,271.60","27,539.70",5.59,"10,419,535.14","739,035.24",7.09
13,"Field Pease................ 216,786.33","16,896.49",7.79,"3,608,112.40","330,676.81",9.16
14,"Whight Haricot beans. 88,302.71","14,554.00",16.48,"1,508,230.37","257,975.90",17.10
15,"Red Haricot beans...... 200,334.52","19,816.04",9.93,"3,374,971.33","405,671.02",12.03
16,"Chick-Peas (Red)....... 163,067.24","17,920.24",10.99,"3,301,531.98","391,188.85",11.85
17,"Chick-Peas (White)...... 76,718.89","16,738.96",21.82,"1,290,199.89","332,134.65",25.74
18,"Lentils.......................... 99,753.97","10,604.50",10.63,"1,408,122.17","174,396.00",12.39
19,"Grass Peas.................. 130,543.38","14,681.75",11.25,"2,604,157.88","310,782.74",11.93
20,"Soya Beans.................. 64,720.12","21,886.02",33.82,"1,494,546.13","520,988.71",34.86
21,"Fenugreek.................... 22,344.12","3,532.44",15.81,"288,299.94","59,138.50",20.51
22,"Mung bean ""Masho""... 48,074.52","8,921.05",19.23,"576,204.64","121,712.49",21.78
23,"Gibto............................ 17,579.90","7,346.13",41.79,"239,568.71","85,391.68",35.64
24,"Oilseeds....................... 747,803.78","61,391.03",8.24,"7,850,196.94","829,313.11",10.63
25,"Neug.......................... 257,950.40","33,507.81",12.99,"2,963,227.47","592,911.29",20.01
26,"Linseed....................... 83,626.93","12,765.87",15.27,"966,855.92","233,188.02",24.12
27,"Groundnut.................. 84,237.01","17,490.22",21.29,"1,440,912.59","396,000.38",28.40
28,"Sufflower..................... 6,489.00","1,359.81",20.99,"80,394.80","18,357.17",22.83
29,"Sesame........................ 294,819.49","43,318.75",14.72,"2,016,646.44","350,440.15",17.39
30,"Rapeseed..................... 20,680.95","2,352.37",11.37,"382,159.71","62,573.47",16.37

In [115]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [116]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2018_19"

for i, _df in enumerate(dfs):
    filename = '/2019_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

## 2019/20

In [117]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2019_20_2012EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="116-126")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[10]

11

In [118]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [119]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2019_20"

for i, _df in enumerate(dfs):
    filename = '/2020_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

## 2020/21

In [120]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2020_21_2013EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="120-131")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[10]

12

In [121]:
regions = ["Ethiopia", "Tigray", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Sidama", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [122]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2020_21"

for i, _df in enumerate(dfs):
    filename = '/2021_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)

## 2021/22

In [129]:
pdf_path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_report_2012_2021/FINAL_2021_22_2014EC Crop Prod report.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="115-125")
# read_pdf returns list of DataFrames
print(len(dfs))
#dfs[10]

11

In [130]:
regions = ["Ethiopia", "Afar", "Amhara", "Oromia", "Somali", "Benishangul-Gumuz", "SNNP", "Sidama", "Gambela", "Harari", "Dire Dawa"]

for i in range(0, len(dfs)):
    #print(regions[i])
    dfs[i]["region"] = regions[i]

In [132]:
# Export to csv
path = "C:/Users/l.daba/OneDrive/SPIA/Ethiopia/other/AgSS_extracted/2021_22"

for i, _df in enumerate(dfs):
    filename = '/2022_' + regions[i] + '.csv'
    #print(path + filename)
    _df.to_csv(path + filename)